@model BasicSample.Models.CreateOrder

<h1>Model</h1>
<div>
    @Model.Id
</div>
<div>
    @Model.BirthDay
</div>
<div>
    @Model.Amount
</div>
<div>
    @Model.Email
</div>

<hr/>
<h1>ViewData</h1>

<hr/>
<h1>ViewBag</h1>

<hr/>
<h1>TempData</h1>



